/* src/styles/variables.css */
:root {
    --text-color-primary: #feffee;
    --text-color-secondary: #c9c9c0;
    --bg-color: #1d1d1b;
    --accent-color: #bae83a;
    --accent-hover-color: #a7d035;
}
  


  